body{
    background-color: black;
}
.PasswordGenerator{
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.PasswordGenerator>span{
    margin: 14px;
}
.PasswordGenerator>input{
    color: black;
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid yellow;
}
#password{
    text-align: center;
    margin-top: 30px;
    color: yellow;
}
